<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.papeterie.mapper.AdminMapper">
	
	<select id="userlist" resultType="String">
		select count(*) from member;
	</select>
	
	<select id="userpoint" resultType="String">
		SELECT SUM(spoint) FROM member;
	</select>
	
	<select id="gongjilist" resultType="String">
		select count(*) from gongji;
	</select>
	
	<select id="qnalist" resultType="String">
		select count(*) from qna where bimil=1;
	</select>
	
	<select id="qnalist2" resultType="String">
		select count(*) from qna where bimil=0;
	</select>
	
	<select id="user_list" resultType="kr.co.papeterie.vo.MemberVO">
		select * from member order by idx desc;
	</select>
	
	<select id="gongji_list" resultType="kr.co.papeterie.vo.GongjiVO">
		select * from gongji order by id desc;
	</select>
	
	<select id="qna_list" resultType="kr.co.papeterie.vo.QnaVO">
		select * from qna order by id desc;
	</select>
	
	<select id="pro_list" resultType="kr.co.papeterie.vo.GoodsVO">
		select * from product order by idx desc;
	</select>
	
	<insert id="product_add_ok" parameterType="kr.co.papeterie.vo.GoodsVO">
		insert into product(title,price,img,category,pcode,regdate)
		values(#{title},#{price},#{img},#{category},#{pcode},now())
	</insert>
	
	<delete id="product_delete">
		delete from product where idx=#{param1}
	</delete>
	
</mapper>