@charset "UTF-8";

#content table {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

#content th, td {
	border-bottom: 1px solid #444444;
	border-left: 1px solid #444444;
	padding: 10px;
}

#content th:first-child, td:first-child {
	border-left: none;
}

#ship_add {
	margin: 20px;
	text-align: right;
	padding: 10px;
}

#add_frm {
	display: float;
	background: white;
	/* justify-content: center; */
	width: 400px;
	height: 440px;
	position: absolute;
	left: 300px;
	top: 50px;
	border: 1px solid red;
	visibility: hidden;
}

/* #addlist_table {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #444444;
}

#addlist_table > td, th {
	border-bottom: 1px solid #444444;
	border-left: 1px solid #444444;
	border-collapse: collapse;
	padding: 5px;
}
#addlist_table th:first-child, td:first-child {
	border-left: none;
}
 */
.add_table {
	margin-left: auto;
	margin-right: auto;
}

#update_frm {
	display: float;
	background: white;
	/* justify-content: center; */
	width: 400px;
	height: 440px;
	position: absolute;
	left: 300px;
	top: 50px;
	border: 1px solid red;
	visibility: hidden;
}

