@charset "UTF-8";

input[type=text], input[type=password] {
	width: 400px;
	height: 40px;
	border: 1px solid #6799FF;
	font-size: 17px;
	color: #6799FF;
}

input[type=submit], input[type=button] {
	width: 402px;
	height: 40px;
	border: 1px solid #6799FF;
	font-size: 17px;
	background: #6799FF;
	color: white;
}

#userid_search, #pwd_search {
	align: center;
	display: none;
}

#login_table {
	width: 400px;
	border-collapse: collapse;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

#login_table th, tr, td {
	border-collapse: collapse;
	/* padding: 10px; */
}

#userid_search_tbl, #pwd_search_tbl {
	width: 400px;
	border-collapse: collapse;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}