@charset "UTF-8";

#content > table, tr, td {
	border-collapse: collapse;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

.orderITEM {
	width: 700px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.orderITEM .td1 {
	width: 300px;
}

.orderITEM .td2 {
	width: 450px;
}

.orderITEM .td3 {
	width: 200px;
}

.orderNO {
	padding: 5px;
	text-align: left;
}

.orderDATE {
	padding: 5px;
	text-align: right;
}

.item_desc {
	padding: 5px 5px 5px 50px;
	text-align: left;
	height: 65px;
}

.review_btn {
	padding: 5px 10px;
	text-align: right;
	height: 65px;
}

#dd_left {
	display: block;
	border: 1px solid black;
	padding: 5px;
	height: 80px;
	width: 400px;
	float: left;
	margin: 10px 0px 10px 20px;
}

#dd_right {
	display: block;
	border: 1px solid black;
	padding: 5px;
	height: 80px;
	width: 300px;
	float: right;
	margin: 10px 20px 10px 0px;
	
}