@charset "UTF-8";

body {
	margin: 0px;
}


#section {
	/* display: flex; */
	justify-content: center;
	width: 900px;
	height: 600px;
	/* background: yellow; */
	margin: auto;
	border: 1px solid black;
	position: relative;
	padding-top: 50px;
	/* overflow: hidden; */
}

/* 
#section {
	width: 900px;
	height: 600px;
	background: yellow;
	margin: auto;
}
 
table {
	width: 700px;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}

th, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}

*/