@charset "UTF-8";

#wishlist_table {
	margin-left: auto;
	margin-right: auto;

}
#wishlist_table > table, tr, td, th {
	border: 1px solid green;
	border-collapse: collapse;
	padding: 5px;
}

#wishlist_table #goods_img{
	width: 36px;
	height: 45px;
	vertical-align: middle;
}
