@charset "UTF-8";

#content table {
	width: 100%;
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

#content th, td {
	border-bottom: 1px solid #444444;
	border-left: 1px solid #444444;
	padding: 10px;
}

#content th:first-child, td:first-child {
	border-left: none;
}

#content #goods_img {
	width: 36px;
	height: 45px;
	vertical-align: middle;
}